* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin position($position) {
  @if $position == "relative" {
    position: relative;
  }
  @if $position == "title_img" {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @if $position == "price" {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @if $position == "new_img" {
    position: absolute;
    top: 0;
    transform: translate(-20%, -20%);
  }
  @if $position == "new_p" {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(150%, -10%);
  }
}

@mixin bg($bgcolor) {
  background-color: $bgcolor;
}
@mixin text($font_text) {
  font-size: $font_text;
}
@mixin font($font_family) {
  font-family: $font_family;
}
@mixin leading($line_height) {
  line-height: $line_height;
}
.justify-center {
  justify-content: center;
}
.flex {
  display: flex;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.text-center {
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.main {
  flex-wrap: wrap;
  margin-top: 100px;
}
.item {
  width: 100%;
 @include position("relative");
  max-width: 340px;
  padding: 0px 30px;
  margin-bottom: 100px;
  &_content {
    img {
      width: 100%;
      z-index: -1;
    }
    p {
      color: rgb(255, 255, 255);
      position: absolute;
      @include font(Montserrat);
      @include text(32px);
      @include leading(1);
    }
  }
  &_title_img {
    @include position("title_img")
  }
  &_title2_img {
    @include position("title_img");
    @include text(36px);
    @include font(Montserrat);
    color: rgb(255, 255, 255);
    @include leading(1);
  }
}
.price {
  @include bg(white);
  @include font(Source Sans Pro);
  @include position("price");
  border: 1px solid #d5d6df;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 30px 25px;

  &-title {
    @include text(32px);
    color: rgb(33, 150, 247);
  }
  &-text {
    @include text(16px);
    color: rgb(153, 169, 181);
  }
}
.sub {
  @include bg(white);
  margin-top: 20px;
  &-title {
    @include font(Source Sans Pro);
    @include text(24px);
    color: rgb(95, 114, 127);
    @include leading(2);
  }
  &-content {
    @include font(Source Sans Pro);
    @include text(14px);
    color: rgb(153, 169, 181);
    @include leading(2);
    margin-bottom: 25px;
  }
}
.content {
  @include bg(rgb(244, 246, 247));
  color: rgb(95, 114, 127);
  @include leading(3);
  ul {
    list-style: none;
    @include text(16px);
  }
  .bg-white {
    @include bg(white);
  }
}
.btn {
  margin-top: 50px;
  border-color: rgb(123, 99, 255);
  & :hover {
    @include bg(rgb(108, 19, 111));
    color: white;
  }
  button {
    @include text(19px);
    @include font(Montserrat);
    border: 1px solid rgb(108, 19, 111);
    padding: 10px 20px;
    color: rgb(108, 19, 111);
  }
}
.new {
  img {
    z-index: 1;
   @include position('new_img')
  }
  p {
    z-index: 2;
    @include text(12px);
    @include font(Myriad Pro);
   @include position('new_p');
    color: rgb(255, 255, 255);
    @include leading(4);
  }
}
.price2 {
  @include bg(rgb(44, 46, 61));
  @include position('price');
  text-align: center;
  border: 1px solid #d5d6df;
  border-radius: 50%;
  width: 120px;
  height: 120x;
  padding: 30px 25px;
  
  &-title {
    @include text(32px);
    @include font(Source Sans Pro);
    color: rgb(215, 68, 152);
  }
  &-text {
    @include text(16px);
    @include font(Source Sans Pro);
    color: rgb(153, 169, 181);
  }
}
