* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin position($position) {
  @if $position == "relative" {
    position: relative;
  }
  @if $position == "title_img" {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @if $position == "price" {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @if $position == "new_img" {
    position: absolute;
    top: 0;
    transform: translate(-20%, -20%);
  }
  @if $position == "new_p" {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(150%, -10%);
  }
}

@mixin bg($bgcolor) {
  background-color: $bgcolor;
}
@mixin text($font_text) {
  font-size: $font_text;
}
@mixin font($font_family) {
  font-family: $font_family;
}
@mixin leading($line_height) {
  line-height: $line_height;
}
$color: (
  "white": white,
  "white-100": #f4f6f7,
  "gray-300": #d5d6df,
  "gray-200": #99a9b5,
  "gray-400": #5f727f,
  "blue": #2196f7,
  "purple": #6c136f,
  "pink": #d74498,
  "dark-500": #2c2e3d,
);
.justify-center {
  justify-content: center;
}
.flex {
  display: flex;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.text-center {
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.main {
  flex-wrap: wrap;
  margin-top: 100px;
}
.item {
  width: 100%;
  @include position("relative");
  max-width: 340px;
  padding: 0px 30px;
  margin-bottom: 100px;
  &-content {
    img {
      width: 100%;
      z-index: -1;
    }
    p {
      color: map-get($color, "white");
      position: absolute;
      @include font(Montserrat);
      @include text(32px);
      @include leading(1);
    }
  }
  &-title-img {
    @include position("title_img");
  }
  &-title-2-img {
    @include position("title_img");
    @include text(36px);
    @include font(Montserrat);
    color: map-get($color, "white");
    @include leading(1);
  }
}
.price {
  @include bg(map-get($color, "white"));
  @include font(Source Sans Pro);
  @include position("price");
  border: 1px solid map-get($color, "gray-300");
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 30px 25px;

  &-title {
    @include text(32px);
    color: map-get($color, "blue");
  }
  &-text {
    @include text(16px);
    color: map-get($color, "gray-200");
  }
}
.sub {
  @include bg(map-get($color, "white"));
  margin-top: 20px;
  &-title {
    @include font(Source Sans Pro);
    @include text(24px);
    color: map-get($color, "gray-400");
    @include leading(2);
  }
  &-content {
    @include font(Source Sans Pro);
    @include text(14px);
    color: map-get($color, "gray-200");
    @include leading(2);
    margin-bottom: 25px;
  }
}
.content {
  @include bg(map-get($color, "white-100"));
  color: map-get($color, "gray-400");
  @include leading(3);
  ul {
    list-style: none;
    @include text(16px);
  }
  .bg-white {
    @include bg(map-get($color, "white"));
  }
}
.btn {
  margin-top: 50px;
  button {
    @include text(19px);
    @include font(Montserrat);
    border: 1px solid map-get($color, "purple");
    padding: 10px 20px;
    color: map-get($color, "purple");
    &:hover {
      @include bg(map-get($color, "purple"));
      color: map-get($color, "white");
    }
  }
}
.new {
  img {
    z-index: 1;
    @include position("new_img");
  }
  p {
    z-index: 2;
    @include text(12px);
    @include font(Myriad Pro);
    @include position("new_p");
    color: map-get($color, "white");
    @include leading(4);
  }
}
.price2 {
  @include bg(map-get($color, "dark-500"));
  @include position("price");
  text-align: center;
  border: 1px solid map-get($color, gray-300);
  border-radius: 50%;
  width: 120px;
  height: 120x;
  padding: 30px 25px;

  &-title {
    @include text(32px);
    @include font(Source Sans Pro);
    color: map-get($color, "pink");
  }
  &-text {
    @include text(16px);
    @include font(Source Sans Pro);
    color: map-get($color, "gray-200");
  }
}
