*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'HelveticaNeue', sans-serif;
}
.container{
margin-left: auto;
margin-right:auto;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}

.main{
flex-wrap: wrap;
margin-top: 100px;
}

.font-sourceSansPro{
font-family: "Source Sans Pro";
}
.font-montserrat{
font-family: "Montserrat";
}
.font-myriadPro{
font-family: "Myriad Pro";
}
.text-center{
text-align: center;
}

.text-12px{
font-size: 12px;
}
.text-32px{
font-size: 32px;
}
.text-36px{
font-size: 36px;
}
.text-19px{
font-size: 19px;
}
.text-16px{
font-size: 16px;
}
.text-24px{
font-size: 24px;
}
.justify-center{
justify-content: center;
}
.flex{
display: flex;
}
.relative{
position: relative;
}
.absolute{
position: absolute;
}

.item{
width: 100%;
max-width: 340px;
padding:0px 30px;
position: relative;
margin-bottom: 100px;
}
.bg-white{
  background-color: white;
}

.item_content p{
color: rgb( 255, 255, 255 );
}
.item img{
width: 100%;
z-index: -1;
}
.item_title_img{
color: white;
font-size: 36px;
line-height: 1;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}
.new img{
width: 65px;
z-index: 1;
top: 0;
transform: translate(-20%,-20%);
}
.new p{
z-index: 2;
top: 0;
left: 0;
transform: translate(150%,-10%);
color: rgb( 255, 255, 255 );
line-height: 4;
}

.price{
border: 1px solid #d5d6df ;
background-color: white;
border-radius: 50%;
width: 120px;
height: 120px;
padding: 30px 25px ;
top:0;
left: 50%;
transform: translate(-50%,-50%);
}
.price-title{
color: rgb( 33, 150, 247 );
}
.price-text{
color: rgb( 153, 169, 181 );
}
.sub{
background-color: white;
margin-top: 20px;
}
.sub .content{
color: rgb( 95, 114, 127 );
line-height: 3;
background-color: tn;
}
.content ul{
list-style: none;
}


.sub-title{
color: rgb( 95, 114, 127 );
line-height: 2;
}
.sub-content {
font-size: 14px;
color: rgb( 153, 169, 181 );
line-height: 2;
margin-bottom: 25px;
}
.btn {
margin-top: 50px;
border-color: rgb(123, 99, 255);
}
.btn button{
border: 1px solid rgb( 108, 19, 111 ) ;
font-size: 19px;
font-family: "Montserrat";
padding:10px 20px;
color: rgb( 108, 19, 111 );
}
.btn :hover{
color: white;
background-color: rgb( 108, 19, 111 );
}
.item_title2_img{
color: rgb( 255, 255, 255 );
line-height: 1;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}
.price2-title {
color: rgb( 215, 68, 152 );
}

.price2{
border: 1px solid #d5d6df ;
background-color: rgb( 44, 46, 61 );
border-radius: 50%;
width: 120px;
height: 120x;
padding: 30px 25px ;
top:0;
left: 50%;
transform: translate(-50%,-50%);

}